nz-tabset{
    text-align:center;
    width:20vw;
}


.login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .ant-drawer-content-wrapper {
    width:auto;
  }