<nz-layout>
    <nz-header>
      <nz-carousel [nzEffect]="scrollx" [nzAutoPlay]=true>
        <div nz-carousel-content *ngFor="let index of images" align="center">
           <img src="{{index}}"/>
        </div>
      </nz-carousel>
    
    </nz-header>
    <nz-content>
    <div style="width:180px;height:100%">
        <!--
    <button  nz-button nzType="appstore" nzTheme="twotone" (click)="toggleCollapsed()">
      <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
    </button>
    -->
    <ul nz-menu nzMode="inline"[nzTheme]='light' style="height:100%" [nzInlineCollapsed]="isCollapsed"  nzPlacement="left" >
        <li nz-submenu nzOpen nzTitle="我的Demo" nzIcon="mail">
          <ul>
                <a nz-menu-group nzTitle="Angular的hero教程" routerLink="../hero"></a>
                <a nz-menu-group nzTitle="Angular的購物車教程" routerLink="../product"></a>
     
          </ul>
        </li>
      </ul>
      <router-outlet></router-outlet>

  </div>
    </nz-content>
    <nz-footer>
      <div>本网站纯属本人自娱自乐,仅供个人使用。如需要账号,请加QQ570571457</div>
    </nz-footer>
</nz-layout>
